<div id="main-title">
  <h1>プロフィール画面</h1>
</div>

<div class="profile-wrapper">
  <div class="profile-image">
    <%= gravatar_for @user, size: 400 %>
  </div>
  <div class ="profile-status">
    <div id="profile-name">
      <h5>ユーザー名</h5>
      <h2><%= current_user.name %></h2>
    </div>
    <div id="status-style">
      <h5>ステータス</h5>
        <select name= "status-menu">
          <option value="HP">HP<%= @user.hp %></option>
          <option value="攻撃">ATC<%= @user.atc %></option>
          <option value="防御">DF<%= @user.defence %></option>
        </select>
    </div>
    <br><p>ステータスは後々アイテム等で変化できるように変えれたらと。</p>
    <p>email=<%= @user.email %>
    <%= link_to "プロフィール編集画面へ", edit_profiles_path %> 
  </div>

  
</div>