<div class="chat-wrapper">
  <div class="chat-nav">
    <h3><%= link_to "提案者　工程作成ページへ", task_work_schedules_path(@task), class: "btn btn-primary" %></h3>
    <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
    <li><%= link_to "home", dig_home_dighome_path %></li>         
    <li><%= link_to "プロフィール編集", new_user_registration_path %></li>
  </div>
  <div class= "chat-name">
        <h4>提案者:<%= @task.user&.name %>&emsp;&emsp;<%= @task.name %></h4>
  </div>
</div>