
<div class = "setumei-page">
	<h1>サイトの説明</h1>　
	<p>〇やりたいのにあきらめてしまってる事や<br>一回はやってみたかった事、こういう夢があった等をみんなで協力して実行していけるツールしたいです</p>

	<p>〇このサイトのユーザー招待は自分の親交のある人を呼んでます、招待したパスワードは教えないでください</p>

	<p>〇このサイトをきっかけに作りたいサービスやＷＥＢアプリのアイデアがでて作るのも面白いかと
			（例）自分専用のオリジナルショッピングサイトや趣味のサークルサイト
						個人経営で付き合いのある会社同士の仕事の波を可視化して把握できるサイト（暇な時、忙しい時をマッチングする）

	<h4>〇進め方</h4>

	<h5>1⃣ユーザー登録をする</h5>
	<div class= "item">
	<%= image_tag "digtop.jpg", width:"800px",hight:"350px", alt:"topページ" %>
	</div>

	<h5>2⃣実行したい事を決める（実行したいことボタンを押す）このページがホーム画面</h5>
	<div class= "item">
		<%= image_tag "dighome.jpg", width:"800px",hight:"350px", alt:"ホーム画面" %>
	</div>

	<h5>3⃣実行したい事を決める（やりたい事を入力の右に入力,下の画面は例）</h5>
	<div class= "item">
	<%= image_tag "tasknew.jpg", width:"800px",hight:"350px", alt:"やりたい事ページ" %>
	</div>

	<h5>4⃣その提案者のやりたい事のチャットページが作られる（ユーザー登録者はコメントで意見を出し合う<br>
				左上の工程ページ作成へ）</h5>
	<div class= "item">
	<%= image_tag "chat.jpg", width:"800px",hight:"350px", alt:"チャトページ" %>
	</div>
	<h5>プロフィールアイコン（サボテン）は無料のＧｒａｖａｔａｒ
	<a href="https://ja.gravatar.com/">（サイトｕｒｌ)</a>と連携してます　<a href="https://www.adminweb.jp/wordpress/comment/index10.html">Ｇｒａｖａｔａｒの登録説明</a>（登録方法がわかりやすいページへ移動）</h5>

	<h5>5⃣工程作成ページで内容をまとめる、＋ボタンで文章記入後Create todoで（下のどこ行くか決める等が作成）<br>
				どこいくか決めるの右の•３つボタンで編集、順番変更ができる（記入変更は提案者のみ可能）</h5>
	<div class= "item">
	<%= image_tag "koutei.jpg", width:"800px",hight:"350px", alt:"工程ページ" %>
	</div>
	
	<h5>6⃣（ホーム画面）みんなのやりたい事一覧ボタンから自分含め他のユーザーのチャットや工程ページに行く</h5>
	<div class= "item">
	<%= image_tag "minna.jpg", width:"800px",hight:"350px", alt:"やりたい事一覧" %>
	</div>

	<h5>7⃣（ホーム画面）今まで実行した事で登録ユーザーの実行した事の工程を参考にできる</h5>
	<div class= "item">
	<%= image_tag "afterjikou.jpg", width:"800px",hight:"350px", alt:"実行した事一覧" %>
	</div>	
	<h5>↓</h5>
	<div class= "item">
	<%= image_tag "donetodo.jpg", width:"800px",hight:"350px", alt:"実行した事一覧" %>
	</div>	