<div class="setumei-wrapper">
	<header class="page-header wraper">
	<%  if user_signed_in?  %>
	<nav>
		<ul class="main-nav">
				<h3><%= link_to image_pack_tag("cooltext382693541664232.png", size:'200x50'), dig_home_dighome_path %></h3>
				<li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
				<li><%= link_to "ホーム", dig_home_dighome_path %></li>         
				<li><%= link_to "プロフィール", profiles_path %></li>
		</ul>
	</nav>

	<% else %>
	<nav>
		<ul class="main-nav">
			<h3><%= link_to image_pack_tag("cooltext382693541664232.png", size:'200x50'), dig_home_dighome_path %></h3>
			<li><%= link_to "プロフィール", profiles_path %></li>
			<li><%= link_to "ログイン", new_user_session_path %></li>
		</ul>
	</nav>
	<% end %>
	</header>

	<div class = "setumei-page">
		<h3>サイトの説明</h3>　
		<p>やりたいのにあきらめてしまってる事や<p>
		<p>一回はやってみたかった事、こういう夢があった等をみんなで協力して実行していけるツールしたいです</p>

		<p>このサイトのユーザー招待は自分の親交のある人を呼んでます、招待したパスワードは教えないでください</p>

		<p>このサイトをきっかけに作りたいサービスやＷＥＢアプリのアイデアがでて作るのも面白いかと
				<p>（例）自分専用のオリジナルショッピングサイトや趣味のサークルサイト</P>
				<p>	個人経営で付き合いのある会社同士の仕事の波を可視化して把握できるサイト（暇な時、忙しい時をマッチングする)</P>
				<p>自分たちの欲しいアイデアグッズを作って、オリジナル商品サイトを作る</p>

		<h3><進め方>	ユーザー登録をする</h3>
		<p>登録ボタンからユーザー名とパスワードを入れてください</p>

		<h3>実行したい事を決める（実行したいことボタンを押す)</h3>
		<p>(入力した内容がタイトルになります)
		<p>その提案者のやりたい事のチャットページが作られる<br>
			（ユーザー登録者はコメントで意見を出し合う右上の工程ページ作成へ）</h3>

		<h3>工程作成ページで内容をまとめる、ドラッグで並び替え可能<br>
				（記入変更は提案者のみ可能）</h3>
				<div class= "item">
				<%= image_pack_tag "task-index.png", width:"800px",hight:"350px", alt:"工程ページ" %>
				</div>
		
		<h3>ホーム画面</h3>
		<div class= "item">
		<%= image_pack_tag "digup-home.png", width:"800px",hight:"350px", alt:"ホーム画面" %>
		</div>
		<p>みんなのやりたい事一覧ボタンから自分含め他のユーザーのチャットや工程ページに行く</p>
		<p>(ホーム画面）今まで実行した事で登録ユーザーの実行した事の工程を参考にできる</p>
		<p>右上のプロフィールから自分のアイコン画像、名前等を変更できます
	</div>
</div>