<div id="main-title">
  <h1>みんなのやりたい事検索</h1>
</div>
<div class = "seach-itiran">
  <%= form_with url: users_path,method: :get, local: true, class: 'input-group' do |f| %>
    <%= f.text_field :name, class: 'form-control', placeholder:"検索したいユーザー名" %>
    <%= f.submit "送信", class: 'input-group-text' %>
  <% end %>
</div>

<% @users.each do |user| %>
  <div id="minna-wrapper">
    <div id= "minna-name">
      <div id="profile-image">
        <%= gravatar_for user, size: 250 %>
      </div>
      <h3><%= user.name %></h3>
    </div>

    <div id="profile-page-wrapper">
    <% if user.tasks.todo.any? %>
      <% user.tasks.todo.each do |task| %>
        <div id="minnna-task-show">
          <h5><%= task.name %></h5>
          <div id="btn-itiran">
            <%= link_to "チャットルームへ", task_chat_rooms_path(task), class: "btn btn-primary" %>
            <%= link_to "工程ページへ", task_work_schedules_path(task), class: "btn btn-success" %>
            <% if current_user.tasks.include?(task) %>
              <%= link_to "削除", task_path(task), method: :delete, 
              data:{ confirm: "この行のやりたい事を削除しますか？"}, class: "btn btn-danger" %>
            <% end %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>


  </div>
<% end %>