<div id="main-title">
  <h1>みんなのやりたい事検索</h1>
</div>
<div class = "seach-itiran">
  <%= form_with url: users_path,method: :get, local: true, class: 'input-group' do |f| %>
    <%= f.text_field :name, class: 'form-control', placeholder:"検索したいユーザー名" %>
    <%= f.submit "送信", class: 'input-group-text' %>
  <% end %>
</div>

<% @users.each do |user| %>
  <div class= "minna-name">
    <%= gravatar_for user, size: 50 %>
    <h3><%= user.name %></h3>
  </div>

  <ul>
    <% if user.tasks.todo.any? %>
      <% user.tasks.todo.each do |task| %>
        <div class="seach">
          <h5><%= task.name %></h5>
        </div>
        <div class="btn-itiran">
          <%= link_to "チャットルームへ", task_chat_rooms_path(task), class: "btn btn-primary" %>
          <%= link_to "工程ページへ", task_work_schedules_path(task), class: "btn btn-success" %>
        </div>
      <% end %>
    <% end %>
  </ul>
<% end %>