<div id="main-title">
  <h1>登録ユーザー一覧</h1>
</div>

<div id="all-user-count">
  <p>登録ユーザー:<%= User.all.size %></p><p>招待人数<%= @user.invitation %></p>
  <% if @user %>
    <%= form_with model: @user do |f| %>
      <%= f.label :invitation, "招待人数" %>
      <%= f.number_field :invitation %>
      <%= f.submit "送信" %>
    <% end %>
  <% end %>
</div>
<div class="kaminari"> <%= paginate @users %> </div>

<div id="users-wrapper">
  <% @users.each do |user| %>
    <li>
      <div class="users-view">
        <div class= "users-image">
          <%= gravatar_for user, size: 80 %>
        </div>
        <div class="user-index-right">
          <h2><%= user.name %></h2>
          <%= link_to "ユーザーのページへ", user_path(user), class: "btn btn-info" %>  
        </div>   
      </div>
    </li>
  <% end %>
</div>