<div id = "main-title">
  <h1>工程ページ</h1>
</div>
<% if @task.status == "todo" %>
  <div class="schedule-form">
    <h4><%= @task.name  %></h4>
    <div class="form">
      <%= form_with model:WorkSchedule.new, url: task_work_schedules_path(@task), local: true, class: 'input-group' do |form| %>
      <%= form.text_field :name, class: 'form-control', placeholder:"工程内容を入力" %>
      <%= form.submit "送信", class: 'input-group-text' %>
      <% end %>
    </div>
  </div>

  <div class="card bg-light">
    <table class="table-striped">
      <div class="table-striped-nav">
        <tr>
          <th width="10%">番号</th>
          <th width="68%">工程内容</th>
          <th width="5%">終了</th>
          <th width="17%" colspan="1"></th>
        </tr>
      </div>
      <tbody data-controller="drag-sort" data-drag-sort-url="/work_schedules/positions/:id" data-drag-sort-draggable="<%= @task.user == current_user ? 'enable' : 'disable' %>">
      <% @work_schedules.each do |schedule| %>
          <tr deta-controller="work-schedule" data-id="<%= schedule.id %>">
            <td></td>
            <td class = "text-start"><%= truncate(schedule.name, length: 100)  %></td>
            <% if current_user == @task.user %>
              <td>  
                <%= form_with model: [@task, schedule], id: dom_id(schedule), data: { controller: 'work-schedule' } do |form| %>
                  <%= form.check_box :checkbox, class: 'check', data: { action: 'work-schedule#check' } %>
                <% end %>
              </td>
              <td><%= link_to '編集', edit_task_work_schedule_path(@task,schedule), class: "btn btn-success" %>
              &emsp;&emsp;<%= link_to '削除', task_work_schedule_path(@task,schedule), method: :delete, class: "btn btn-danger", data: { confirm: '工程削除しますか?' } %></td>
            <% end %>
          </tr>
      <% end %>
      </tbody>
    </table>
    <% if current_user == @task.user %>
      <%= link_to "やりたい事完了", task_done_path(@task), method: :patch, class: "btn btn-primary" %></td>
    <% end %>
  </div>
<% end %>

<% if @task.status == "done" %>
  <div class = "schedule-page">
  <h1>終了した工程ページ</h1>
  </div>

  <div class="card bg-light">

  <div class="schedule-form">
    <h4><%= @task.name  %></h4>
  </div>
  
  <table>
    <tr>
      <th>番号</th>
      <th>工程内容</th>
      <th colspan="1"></th>
    </tr>
    <% @work_schedules.each_with_index do |schedule, position| %>
      <tr deta-controller="work-schedule">
        <td><%= position + 1 %></td>
        <td><%= schedule.name %></td>
      </tr>
    <% end %>
  </table>

  </div>
<% end %>
