<div class="mainpage-header wraper">
 <%  if user_signed_in?  %>
 <nav>
   <ul class="main-nav">
       <h1><%= link_to image_pack_tag("cooltext382693541664232.png", size:'2000x50'), dig_home_dighome_path %></h1>
       <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
       <li><%= link_to "home", dig_home_dighome_path %></li>         
       <li><%= link_to "プロフィール編集", profiles_path%></li>
   </ul>
 </nav>

 <% else %>
 <nav>
   <ul class="main-nav">
     <h1><%= link_to image_pack_tag("cooltext382693541664232.png", size:'200x50'), dig_home_dighome_path %></h1>
     <li><%= link_to "プロフィール編集", profiles_path %></li>
     <li><%= link_to "ログイン", new_user_session_path %></li>
   </ul>
 </nav>
 <% end %>
</div>