<header clas="page-header wraper">
 <%  if user_signed_in?  %>
 <nav>
   <ul class="main-nav">
       <h3><%= link_to "Top page", root_path %></h3>
       <li><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
       <li><%= link_to "home", dig_home_dighome_path %></li>         
       <li><%= link_to "sing_up", new_user_registration_path %></li>
   </ul>
 </nav>

 <% else %>
 <nav>
   <ul class="main-nav">
     <h3><%= link_to "Top page", root_path %></h3> 
     <li><%= link_to "Sign up", new_user_registration_path %></li>
     <li><%= link_to "Log in", new_user_session_path %></li>
   </ul>
 </nav>
 <% end %>
</header>