<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TODO App</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
    <%= render "layouts/header" %>
    <div class="new-contents wrapper">
      <div id="logform" class="card bg-light">
        <%= yield %>
      </div>
      <aside-login>
        <%= image_pack_tag "YK0I9A6205_TP_V.jpg" ,width:"500px" ,height:"500px" %>
      </aside-login>
    </div>
    </div><!-- /.news-contents -->
    <%= render "layouts/footer" %>
</html>    